[submodule "compatibility-layer"]
	path = compatibility-layer
	url = https://github.com/EESSI/compatibility-layer
[submodule "software-layer"]
	path = software-layer
	url = https://github.com/EESSI/software-layer
