terraform {
  required_providers {
    eessiaws = {
      source  = "hashicorp/aws"
      version = "~> 3.0"
    }
  }

  backend "s3" {
    bucket = "eessi-terraform-dynamic"
    key = "terraform"
    region = "eu-west-1"
    dynamodb_table = "terraform-dynamic-lock"
  }
}


