variable "{{ deployer_id }}-keys" {
  type = map

  default = {
    private = "~/.ssh/id_rsa.terraform"
    public  = "~/.ssh/id_rsa.terraform.pub"
  }
}

resource "aws_key_pair" "{{ deployer_id }}-keys" {
  provider   = eessiaws
  key_name   = "{{ deployer_id }}-deployer-key"
  public_key = file(var.{{ deployer_id }}-keys["public"])
  tags = {
    Owner = "{{ deployer_id }}"
  }
}
