resource "{{ provider }}_instance" "{{ name }}" {
{%- if provider == "aws" -%}
  {%- if architecture == "x86_64" %}
  ami                    = data.aws_ami.x86_64.id
  {%- elif architecture == 'aarch64' %}
  ami                    = data.aws_ami.aarch64.id
  {%- endif %}
  provider               = eessiaws
  
  ipv6_address_count     = 1
{%- endif %}

  instance_type          = "{{ type }}"

{%- if provider == "aws" %}
  subnet_id              = aws_subnet.{{ aws.region }}.id
  depends_on             = [aws_internet_gateway.{{ aws.region }}]
  vpc_security_group_ids = [aws_security_group.instance.id]
{%- endif %}

  key_name               = "{{ deployer_id }}-deployer-key"
  monitoring             = true

  root_block_device {
    volume_size = 50
  }

  tags = {
    Issuer = "{{ issuer }}"
    Name  = "{{ description }}"
    User  = "{{ username }}"
    Slack = "{{ userslack }}"
    EOL = "{{ eol }}"
    Ephemeral = "True"
  }
}

resource "aws_route53_record" "{{ name }}_aaaa" {
  provider = eessiaws
  zone_id  = aws_route53_zone.dynamic.id
  name     = "{{ name }}.dynamic.infra.eessi-hpc.org"
  type     = "AAAA"
  ttl      = "300"
  records  = [{{ provider}}_instance.{{ name }}.ipv6_addresses[0]]
}

resource "aws_route53_record" "{{ name }}" {
  provider = eessiaws
  zone_id  = aws_route53_zone.dynamic.id
  name     = "{{ name }}.dynamic.infra.eessi-hpc.org"
  type     = "A"
  ttl      = "300"
  records  = [{{ provider}}_instance.{{ name }}.public_ip]
}